<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.TFG_Biblioteca"
        tools:targetApi="31" >
        <activity
            android:name=".ReservaLibros.ConsultarListaReservas"
            android:exported="false" />
        <activity
            android:name=".ReservaLibros.CancelarListaReservas"
            android:exported="false" />
        <activity
            android:name=".ReservaLibros.ReservarLibro"
            android:exported="false" />
        <activity
            android:name=".ReservaAsientos.CancelarReservaAsiento"
            android:exported="false" />
        <activity
            android:name=".ReservaAsientos.ConsultarReservasAsiento"
            android:exported="false" />
        <activity
            android:name=".ReservaAsientos.ReservarAsiento"
            android:exported="false" />
        <activity
            android:name=".ReservaAsientos.PantallaPrincipalReservaAsientos"
            android:exported="false" />
        <activity
            android:name=".ReservaLibros.ReservarListaLibros"
            android:exported="false" />
        <activity
            android:name=".ReservaLibros.PantallaPrincipalReservaLibro"
            android:exported="false" />
        <activity
            android:name=".PantallasApp.PantallaPrincipal"
            android:exported="false" />
        <activity
            android:name=".PantallasApp.Informacion"
            android:exported="false" />
        <activity
            android:name=".PantallasApp.Login"
            android:exported="false" />
        <activity
            android:name=".PantallasApp.SplashActivity"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>